
:root {
  --color-selection: #{rgba($green-300, .2)};
  --highlight-selection: #{rgba($green-300, .2)};
  --highlight-selection-border: #{$green-300};
  --highlight-bg: #{$black};

  --bg-header: #{$white};
  --bg-mark: #{$yellow-100};
  --bg-overlay: rgb(123 131 135 / 50%);
  --header-height: 70px;

  --shadow-sm: 0px 1px 2px rgb(0 0 0 / 10%);
  --shadow-md: 0px 3px 6px rgb(0 0 0 / 10%);
  --shadow-lg: 0px 5px 10px rgb(0 0 0 / 20%);

  --timing: cubic-bezier(0.7, 0.006, 0.2, 1);
  --font-primary: "Roboto", Arial, sans-serif;
  --font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  --aside-width: 246px;

  --primary: #{$green-500};

  --color-link: var(--primary);

  --btn-primary: #{$green-100};
  --btn-primary-hover: #{$green-200};

  --color-title: #{$gray-800};
  --color-text: #{$gray-600};
  --color-meta: #{$gray-400};

  --color-border: #{$gray-300};
  --color-border-inset: #{$gray-400};

  --bg-main:  #{$white};
  --bg-low: #{$gray-50};
  --bg-inset: #{$gray-100};
  --bg-tenue: #{rgba($gray-200, .5)};

  --bg-primary: #{$gray-100};
  --bg-secondary: #{$gray-200};

  --bg-inverse: #{$gray-900};
  --bg-darken: #{$gray-700};

  --info: #{$blue-600};
  --info-bg: #{$blue-100};

  --success: #{$green-600};
  --success-bg: #{$green-100};

  --danger: #{$red-600};
  --danger-bg: #{$red-100};

  --warning: #{$yellow-600};
  --warning-bg: #{$yellow-100};

  &.dark {
    --primary: #{$green-300};

    --btn-primary: hsl(173 20% 20% / 1);
    --btn-primary-hover: #{$green-100};

    --shadow-sm: 0px 1px 2px rgb(0 0 0 / 10%);
    --shadow-md: 0px 3px 6px rgb(0 0 0 / 30%);
    --shadow-lg: 0px 5px 10px rgb(0 0 0 / 40%);

    --color-title: #{$white};
    --color-text: #{$gray-300};
    --color-meta: #{$gray-400};
    
    --color-border: #{$gray-700};
    --color-border-inset: #{$gray-600};

    --bg-low: #{$gray-950};
    --bg-main: #{$gray-900};
    --bg-inset: #{$gray-800};
    --bg-tenue: #{rgba($gray-950, .5)};

    --bg-primary: #{$gray-800};
    --bg-header: #{$gray-800};

    --bg-inverse: #{$gray-950};
    --bg-darken: #{$gray-800};

    --info: #{$blue-100};
    --info-bg: hsl(217 20% 20% / 1);
  
    --success: #{$green-100};
    --success-bg: hsl(173 20% 20% / 1);

    --danger: #{$red-100};
    --danger-bg: hsl(357 20% 20% / 1);
  
    --warning: #{$yellow-100};
    --warning-bg: hsl(43 20% 20% / 1);

  }
}