.has-icon {
  display: flex;
  align-items: center;
  column-gap: var(--btn-gap, .75rem);
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

@include utility(font-style, normal italic)

@include utility(text-transform, capitalize uppercase lowercase)

.fs {
  @include utility(font-size, $font-size-values, true)
}

.fw {
  @include utility(font-weight, $font-weight-values)
}

.text {
  @include utility(text-align, center left right justify)
}

@include utility(overflow, (
  o-auto: auto,
  o-hidden: hidden,
));

@include utility(overflow-x, (
  ox-auto: auto,
  ox-hidden: hidden,
));

@include utility(overflow-y, (
  oy-auto: auto,
  oy-hidden: hidden,
));

@include utility(display, (
  block: block,
  inline-block: inline-block,
  inline: inline,
  flex: flex,
  inline-flex: inline-flex,
  grid: grid,
  inline-grid: inline-grid,
  none: none,
));

@include utility(align-items, (
  items-start: flex-start,
  items-end: flex-end,
  items-center: center,
));

@include utility(justify-content, (
  justify-start: flex-start,
  justify-end: flex-end,
  justify-center: center,
  justify-between: space-between,
  justify-around: space-around,
  justify-evenly: space-evenly,
));

@include utility(flex-direction, (
  row: row,
  column: column,
), true);

@include utility(flex-wrap, (
  wrap: wrap,
  wrap-reverse: wrap-reverse,
  nowrap: nowrap,
));

@include utility(flex, (
  flex-1: 1 1 0,
  flex-auto: auto,
  flex-initial: initial,
  flex-none: none,
));

@include utility(position, absolute relative fixed sticky);
