// utilidades

.has-icon {
  display: flex;
  align-items: center;
  column-gap: var(--btn-gap, .75rem);
}

.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

.fs {
  @include utility(font-size, $font-size-values, true)
}

.fw {
  @include utility(font-weight, $font-weight-values)
}

.text {
  @include utility(text-align, center left right justify)
}

.ox-auto {
  overflow-x: auto;
}
// fin utilidades