// utilidades
.has-icon {
  display: flex;
  align-items: center;
  column-gap: var(--btn-gap, .75rem);
}

@include utility(font-style, normal italic)

@include utility(text-transform, capitalize uppercase lowercase)

.fs {
  @include utility(font-size, $font-size-values, true)
}

.fw {
  @include utility(font-weight, $font-weight-values)
}

.text {
  @include utility(text-align, center left right justify)
}

// Overflow
@include utility(overflow, (
  o-auto: auto,
  o-hidden: hidden,
));

@include utility(overflow-x, (
  ox-auto: auto,
  ox-hidden: hidden,
));

@include utility(overflow-y, (
  oy-auto: auto,
  oy-hidden: hidden,
));

// fin utilidades