.pagelink {
  padding: 1rem;
  display: flex;
  border-radius: .5rem;
  gap: .75rem;
  border: 1px solid var(--color-border);
  transition: border-color .3s, color .3s;
  box-shadow: var(--shadow-sm);
  line-height: 1.5;

  &:hover {
    --color-border: var(--primary);
    --color-title: var(--primary);
    --color-meta: var(--primary);
  }

  &-content {
    flex: 1 0 auto;
  }

  &-icon {
    flex: none;
    color: var(--color-meta);
  }

  &-title {
    color: var(--color-title);
    display: block;
    transition: color .3s;
  }

  &-meta {
    color: var(--color-meta);
    transition: color .3s;
  }
}
