<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head" . }}
    {{ partial "seo" . }}
    {{ partial "styles" . }}
    {{ partial "scripts" . }}
  </head>
  <body class="fs-7 fw-400 preload">
    <div class="template flex column">
      <header class="header">
        {{ partial "header" . }}
      </header>
      {{ block  "main" . }}
      <div class="doc container" id="doc">
        <aside class="aside" id="docs-sidebar">
          {{ partial "sidebar" . }}
        </aside>
        <main class="main main-index">
          {{- $i18n := dict "copy" (i18n "copy") "copied" (i18n "copied") -}}
          <article class="article fs-6" data-i18n='{{ $i18n | jsonify }}'>
            {{ partial "article" . }}
            {{ partial "footer" . }}
          </article>
          <aside class="toc">
            {{ partial "toc" . }}
          </aside>
        </main>
      </div>
      {{ end }}
    </div>
    {{ partial "search" . }}
  </body>
</html>