
<meta charset="UTF-8"/>
<meta content="width=device-width,initial-scale=1" name="viewport">

<title>{{ partial "title" . }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Page.Params.description | default .Site.Params.description }}"/>
<link rel="icon" href='{{ "favicon.svg" | relURL }}' type="image/svg+xml"/>

{{- range .Translations }}
<link rel="alternate" hreflang="{{ default .Site.LanguageCode .Language.Lang }}" href="{{ .Permalink }}">
{{- end -}}

{{- $script := resources.Get "js/dark.js" | resources.Minify -}}
{{- with $script.Content }}
<meta name="color-scheme" content="light dark">
<script>{{ . | safeJS }}</script>
{{- end -}}

