{{- $pages := partial "flat-pages" (dict "Section" (.Site.GetPage .Section)) -}}
{{- $prev := "" -}}
{{- $next := "" -}}

{{- range $index, $page := $pages -}}
  {{- if eq $page.RelPermalink $.RelPermalink -}}
    {{- if gt $index 0 -}}
      {{- $prev = index $pages (sub $index 1) -}}
    {{- end -}}
    {{- if lt $index (sub (len $pages) 1) -}}
      {{- $next = index $pages (add $index 1) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<nav class="pagination" aria-label='{{ i18n "pagination_label" }}'>
  <ul class="pagination-list grid">
    {{ with $prev }}
    <li class="pagination-item pagination-prev">
      <a class="pagelink items-center" href="{{ .RelPermalink }}">
        <span class="pagelink-icon i-md">
          {{- partial "svg" (dict "icon" "arrow-left") -}}
        </span>
        <span class="pagelink-content">
          <span class="pagelink-meta fs-7">{{ i18n "pagination_previous" }}</span>
          <span class="pagelink-title fw-500">{{ .Title }}</span>
        </span>
      </a>
    </li>
    {{ end }}
    {{ with $next }}
    <li class="pagination-item pagination-next">
      <a class="pagelink items-center" href="{{ .RelPermalink }}">
        <span class="pagelink-content">
          <span class="pagelink-meta fs-7">{{ i18n "pagination_next" }}</span>
          <span class="pagelink-title fw-500">{{ .Title }}</span>
        </span>
        <span class="pagelink-icon i-md">
          {{- partial "svg" (dict "icon" "arrow-right") -}}
        </span>
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
