<div class="search" id="search-box">
  <div class="search-content">
    <div class="search-form">
      <label class="search-icon">{{ partial "svg" (dict "icon" "search") }}</label>
      <input class="search-input" id="search-input" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder='{{- i18n "search_in_doc" -}}' maxlength="64"/>
      <button data-close="" aria-label='{{ i18n "close" }}' class="search-close">
        {{ partial "svg" (dict "icon" "xmark") }}
      </button>
    </div>
    <div class="search-results">
      <div class="search-list" id="search-results"></div>
    </div>
  </div>
</div>
<div class="overlay"></div>
