<link rel="preconnect" href="https://fonts.bunny.net" crossorigin/>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin/>

<link as='style' href='https://fonts.bunny.net/css?display=swap&family=roboto:300,300i,400,400i,500,700' rel='preload'/>
<link href='https://fonts.bunny.net/css?display=swap&family=roboto:300,300i,400,400i,500,700' rel='stylesheet'/>

<link as='style' href='https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css' rel='preload'/>
<link href='https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css' rel='stylesheet'/>

{{ $styles := resources.Get "scss/main.scss" }}
{{ $secureCss := $styles | css.Sass | resources.Minify | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $secureCss.RelPermalink }}" integrity="{{ $secureCss.Data.Integrity }}">
