{{ define "main"}}
<main class="main-section">
  <div class="container">
    <div class="section-info">
      <h1 class="section-title">Versiones</h1>
      <p class="section-description">Una lista de todos los documentos alojados para todas las versiones de {{ .Site.Title | title }}.</p>
    </div>
    <div class="section-content">
      <ul class="section-list">
        {{ range .Site.Sections }}
          <li><a href="{{ .Permalink }}">{{ .Section }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</main>
{{ end }}