{{ define "main"}}
<main class="main-section">
  <div class="container">
    <div class="section-info">
      <h1 class="section-title">{{ i18n "versions" }}</h1>
      <p class="section-description">{{ i18n "main_section_text" }}.</p>
    </div>
    <div class="section-content">
      <ul class="section-list">
        {{ if .Site.Params.versions }}
          {{ range .Site.Params.versions }}
            <li><a href="/{{ . }}/">{{ . }}</a></li>
          {{ end }}
        {{ else }}
          <li><a href="#no-item">{{ i18n "no_items" }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</main>
{{ end }}