{{- $href := .Get "href" | default "#undefined" -}}
{{- $title := .Get "title" | default "undefined" -}}
{{- $icon := .Get "icon" | default ( cond (hasPrefix $href "http") "arrow-up-right" "chain" ) -}}
{{- $name := .Get "name" -}}

<a class="pagelink" href="{{ $href | relLangURL}}"{{ if hasPrefix  $href  "http" }} target="_blank" rel="noreferrer nofollow noopener"{{ end }}>
  <span class="pagelink-icon i-md">
    {{- partial "svg" (dict "icon" $icon) -}}
  </span>
  <span class="pagelink-content">
    <span class="pagelink-title fw-500">{{ $title }}</span>
    {{- with $name -}}
      <span class="pagelink-meta fs-7">{{ . }}</span>
    {{- end -}}
  </span>
</a>
